* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

img{
    vertical-align: top;
}

body{
    height: 100%;
    line-height: 1;
    background: linear-gradient(to right, black 51.5%, #57B8FF 51.5%);
}

.wrapper{
    min-height: 100%;
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 38px;
    padding-left: 60px;
    padding-right: 60px;
}

.home {
    padding-top: 15px;
}

.home-ul {
    display: flex;
}

.home-li {
    margin-right: 60px;
}

.home-li a {
    color: white;
}

.button-link {
    background: none;
}

.basket-img {
    margin-right: 25px;
    margin-top: 10px;
}