* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

img{
    vertical-align: top;
}

body{
    height: 100%;
    line-height: 1;
    background-color: #E5E000;
}

.wrapper{
    min-height: 100%;
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
}

.home-ul {
    display: flex;
}

.home-li {
    margin-right: 60px;
}

.home-li a {
    color: white;
}